<ul class="nav nav-pills">
  <li class="active pull-right">
    <a href="/stores/new">Add New Store</a>
  </li>
</ul>
<%= will_paginate @stores %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= link_to s.name, store_path(s.id), :format => 'html'%></td>
    </tr>
    <%end%>
  </tbody>
</table>

