<form class="form-horizontal customer-form voucher-page" role="form">
  <div class="form-group">
    <label for="VoucherId" class="col-sm-2 control-label">Coupon No</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="VoucherId" name="voucherId" placeholder="coupon id"/>
    </div>
    <div class="col-sm-3">
      <button id="GetVoucher" class="btn btn-large btn-primary ccontrol" type="button">Get Coupon Info</button>
    </div>
  </div>
</form>   